<footer class=" py-10 py-lg-12 bg-gray-100 mt-12 rounded-top-5 w-100 px-8 px-lg-0">
    <div class="container">
        <div class="row justify-content-between align-items-end mb-10 mb-lg-6">
            <div class="col-lg-6 p-0 mb-10 mb-lg-0">
                <img src="../assets/images/logo-white.png" alt="logo-white" style="width: 200px;">
            </div>
            <div class="col-lg-6 d-flex flex-column flex-lg-row g-lg-9 m-0 text-white justify-content-end p-0">
                <div class="fs-2 me-lg-9 mb-8 mb-lg-0">常見問題</div>
                <div class="fs-2 me-lg-9 mb-8 mb-lg-0">關於我們</div>
                <div class="fs-2 me-lg-9 mb-8 mb-lg-0">隱私權政策</div>
                <div class="fs-2">使用者條款</div>
            </div>
        </div>
        <div class="row justify-content-between align-items-end d-flex  flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-0">
                <div class="fs-2 text-white">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-lg-end justify-content-start mb-9 mb-lg-0 p-0">
                <img class="me-6" src="../assets/images/icons/btn_line.png" alt="btn_line"/>
                <img class="me-6" src="../assets/images/icons/btn_yt.png" alt="btn_yt"/>
                <img src="../assets/images/icons/btn_fb.png" alt="btn_fb"/>
            </div>
        </div>
    </div>
</footer>